{% extends 'videoapp/base.html' %}

{% block title %}
    Home
{% endblock %}

{% block content %}
    <h1>Home</h1>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/IZqBTPmxoew" frameborder="0" allowfullscreen></iframe>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/vC5BP_sNuX8" frameborder="0" allowfullscreen></iframe>
    <iframe width="853" height="480" src="https://www.youtube.com/embed/KEqP1a9rSqA" frameborder="0" allowfullscreen></iframe>
{% endblock %}
